# bundler and gems config
*.gem
*.rbc
.bundle
Gemfile.lock

# Packaged gem
pkg

# Environment variables
.env

# Mac Finder file
.DS_Store

# build directory
/build

# Temp files and cache
*.sass-cache
/tmp
