*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
.env

# Ignore Mac Finder file
.DS_Store

# Ignore bundler config
/.bundle

# Ignore the build directory
/build

# Ignore Sass
*.sass-cache

# Ignore Tmp and Cache
/tmp
