<table border="0" cellspacing="0" cellpadding="0" class="button<%= " #{color}" if defined? color %>">
  <tr>
    <td align="center"><a href="<%= url %>"><!--[if mso]>&nbsp;<![endif]--><%= text %><!--[if mso]>&nbsp;<![endif]--></a></td>
  </tr>
</table>
