/* main.scss */

.title,
.body-text {
  font-family: Helvetica, sans-serif;
}

.title {
  color: #003366;
}

.body-text {
  line-height: 1.5em;
  color: #555555;
}

.foo {
  border: 1px solid #cccccc;
}