<table border="0" cellspacing="0" cellpadding="0" class="table">
  <tr>
  <% list.each do |p| %>
    <td width="200" align="center" class="body-text">
      <em>Hello <%= p[:name] %></em><br>
    </td>
  <% end %>
  </tr>
</table>
