---
title: Demo Email
---

This is a demo email to get you started. The ID is 'demo', based on the file name.
<br><br>

<strong>Example: YAML data</strong>
<br><br>

<ul>
  <% @people.each do |p| %>
  <li><%= p[:name] %></li>
  <% end %>
</ul>
