// shared/based.scss

@import "_vars";
@import "_mixins";

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 600px;
  max-width: 600px;
}

.container-padding {
  padding-left: $gutter;
  padding-right: $gutter;
}

.content {
  background-color: #ffffff;
}


//-- Buttons

.button {
  td {
    @include border-radius(3px);
    background-color: $buttonBgColor;
  }

  a {
    @include border-radius(3px);
    @include font(bold, 14px, 20px);
    text-decoration: none;
    display: inline-block;
    padding: 12px 18px;
    background-color: $buttonBgColor;
    color: $buttonColor;
  }
}
