// shared/based.scss

@import "_vars";
@import "_mixins";

.container {
  width: 600px;
  max-width: 600px;
}

.container-padding {
  padding-left: $gutter;
  padding-right: $gutter;
}

.content {
  background-color: #ffffff;
}
