// Shared responsive styles
// ------------------------
// Styles here to should use the [class=""] or [class*""] syntax
// to prevent Yahoo Mail from serving the mobile version in their webmail interface.

@import "_vars";
@import "_mixins";
@import "_reset";

@media screen and (max-width: 600px) {
  .container {
    width: 100% !important;
    max-width: 100% !important;
  }
}

@media screen and (max-width: 400px) {
  .container-padding {
    padding-left: $gutter/2;
    padding-right: $gutter/2;
  }
}